<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <h1>Restaurants</h1>
</div>

<div class="container">
<% @restaurants.each do |resto| %>
  <div class="card-product">
    <img src="https://picsum.photos/120/80?random">
    <div class="card-product-infos">
      <%= link_to resto.name, restaurant_path(resto) %>
    </div>
  </div>
<% end %>
</div>

<div class="container-button">
  <h2><%= link_to "Add restaurant", new_restaurant_path(@restaurant), class: "btn-ghost-two" %></h2>
</div>








