<h1>Add your review</h1>

<div class="card-product-review">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="card-product-infos">


  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "add a review", class: "btn-ghost-one" %>
  </div>
</div>
<% end %>
